*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Navigation Bar Styling */
.homepage-header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

}
header{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
li{
    list-style: none;

}
.nav-item a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 15px;
   border-radius: 3px;
}

.navbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 1;
}
.nav-branding{
    font-size: 3rem;
   text-decoration: none;
   color: white;

}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    border: 1px solid white;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    
   
}
.nav-item.active{
    border: 1px solid white;
   border-radius: 3px;
   padding-top: 5px;
   padding-bottom: 5px;
}

/* Menu for mobile phones styling */

.hamburger{
    display: none;
    cursor: pointer;
    
}
.bar{
    display:block;
    width: 25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Banner Image Styling */

.adminbanner img{
    display: block;
    padding-top: 110px;
    padding-left: 2%;
    padding-bottom: 6%;
    height: 100%;
    width: 98%;
    position: absolute;
}
/* Banner Text Styling */
#sale{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-family: cursive;
    padding-top: 350px;

}
/* Footer*/
.fixedfooter{
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 1px;
    position: fixed;
    bottom: 0;
   
}
.fixedfooter p{
    color: white;
    text-align: center;
    margin-top: 18px;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    padding: 1px;
    
    bottom: 0;
   
}
.footer p{
    color: white;
    text-align: center;
    margin-top: 18px;
}
/* size-chart link from each product */
#size-link{
    color: red;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 38%;
}
/* Size Chart Table */
.size-chart th,td{
width: 90px;
height: 10px;
text-align: center;
}
/* Contact Form Styling */
form{
    margin: 0 auto;
    width: 400;    
}
::placeholder{
    padding-left: 2%;
    color: white;
}
input{
    border: 2px solid aliceblue;
    background-color: rgb(128,128,128,0.5);
    color: grey;
}
textarea{
    border: 2px solid aliceblue;
    background-color: rgb(128,128,128,0.5);
    color: grey;
}
.fname{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 1%;
}
.lname{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 1%;
    
}
.em{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 1%;
    
}
.phone{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 1%;
}
.add{
    width: 420px;
    height: 70px;
    border-radius: 10px;
    margin: 1%;
}
.mssg{
    width: 420px;
    height: 100px;
    border-radius: 10px;
    margin: 1%;
}
#cbutton{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: auto;
    border: 1px solid #262626;
}
/* Address info styling */
#contactus{
    height: 500px;
    border-radius: 10px;
    background-color: rgb(128,128,128,0.1);
}
.addressarea{
    height: 500px;
    border-radius: 10px;
    background-color: black;
    width: 300px;
}
.addressarea h2{
font-size: 3rem;
color: white;
}
.addressarea p{
    color: white;
}
/* Back Icon */
.material-icons{
    cursor: pointer;
}

/* Responsive Navigation Bar Styling - Acknowledgment - youtube to style the menu bars in mobile view */
@media(max-width:820px){
    .hamburger{
        display: block;
        float: left;
        font-weight: bold;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .homepage-header{
        position: absolute;
        background: none;
       width: 100%;
        height: 70px;
        z-index: 1;
    }
    .nav-branding{
        color: white;
        font-weight: bold;
       }
    .nav-menu{
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: black; 
    width: 100%;
    text-align: center;
    transition:0.3s;
    z-index: 1;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}
/* Responsive Banner Styling */
@media(max-width:900px){
    .banner img{
        height: 300px;
        margin: 0;
        width: 100%;
        padding-top: 0;
        padding-left: 0;
    }
    #sale{
        font-size: 1.7rem;
        padding-top: 350px;
    }
    .banner-product{
        display: flex;
        margin-top: 5%;
        
    }
}
@media (max-width:950px) {
#mens{
    padding-left: 27px;
}
}
/* Responsive Footer Styling */
@media(max-width:900px){
    .fixedfooter{
        position: relative;
    }
}
/* Responsive Contact Us Page */
@media(max-width:450px){
    #contactus{
        margin-top: 16%;
        height: auto;
    }
    form{
        width: 100%;
    }
    .fname{
        width: 160px;
    }
    .lname{
        width: 160px;
    }
    .em{
        width: 160px;
    }
    .phone{
        width: 160px;
    }
    .add{
        width: 330px;
    }
    .mssg{
        width: 330px;
    }
    .addressarea {
        margin-bottom: 5%;
        height: auto;
        width: auto;
    }
}
/* Responsive Tablet View for Contact Page */
@media(max-width:1024px){
    #contactus{
        margin-top: 12%;
        height: 600px;
        width: 100%;
    }
    .addressarea {
        height: auto;
        width: 100%;
        margin-top: 10%;
    }

    .header{
        width: 100%;
    }
    #sale{
        margin-top: 5%;
    }

    .banner-product{  
        margin-top: 7%;
    }
}



